---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const articles = [
  {
    title: 'Intro to Genetic Algorithms',
    body: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius quam quisque id diam vel quam elementum pulvinar.',
    img: {
      src: '/images/Darwin.webp',
      alt: 'Charles Darwin',
    },
    href: '',
  },
  {
    title: 'What is Phone Phreaking?',
    body: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius quam quisque id diam vel quam elementum pulvinar.',
    img: {
      src: '/images/marissa-lewis-MWr9_OE4ZA8-unsplash.jpg',
      alt: 'Phone Booth',
    },
    href: '',
  },
  {
    title: 'The Origins of Virtual Worlds',
    body: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius quam quisque id diam vel quam elementum pulvinar.',
    img: {
      src: '/images/umberto-jXd2FSvcRr8-unsplash.jpg',
      alt: 'Motherboard',
    },
    href: '',
  },
];
---

<Layout title="Jeff Caldwell | Technical Writing">
  <div class="hero u-grid">
    <div class="callout-section">
      <h1 class="callout">I write about complex topics and make them easy for readers to understand.</h1>
    </div>

    <div class="message-section u-grid">
      <p class="message">
        Years of experience in journalism and a background in computer science give me a unique ability to turn
        difficult technical topics into concise, simple documentation and guides that regular people can use.
      </p>

      <div class="button-group u-grid">
        <a href="/resume" class="button">My Resume</a>
        <a href="/portfolio" class="button">My Portfolio</a>
      </div>
    </div>
  </div>
  <!-- /hero-->
  <div class="feature">
    <h2 class="feature-title">Featured Work</h2>

    <ul class="feature-content u-grid">
      {
        articles.map((article, index) => (
          <Card
            title={article.title}
            first={index == 0 ? true : false}
            img={article.img}
            body={article.body}
            href={article.href}
          />
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  .hero {
  }
  .message-section {
    grid-template-rows: 1fr auto;
    container-type: inline-size;
  }
  .callout-section {
    container-type: inline-size;
    container-name: callout-section;
  }
  .callout {
    font-size: 9cqw;
    line-height: 1;
  }
  .message {
    font-size: 5.5cqw;
    line-height: 1.4;
    background-color: var(--accent);
    /* padding: var(--grid-gutter); */
    padding: 3cqi;
  }
  .button-group {
    grid-template-columns: repeat(2, 1fr);
    container-type: inline-size;
  }
  .button {
    font-size: 5cqi;
  }

  .feature {
    container-name: feature;
    container-type: inline-size;
    margin-top: var(--grid-gutter);
  }
  .feature-article {
    background-color: var(--accent);
    container-type: inline-size;
  }

  .feature-title {
    /* font-size: var(--size-4); */
    font-size: 7cqi;
    text-align: center;
    line-height: 1;
  }
  .feature-content {
    margin-top: var(--grid-gutter);
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 400px) {
    .feature-content {
      --grid-gutter: var(--space-xl);
    }
  }

  @media (min-width: 750px) {
    .hero {
      grid-template-columns: repeat(2, 1fr);
    }

    .callout {
      background-color: var(--accent);
      /* padding: var(--grid-gutter); */
      padding: 6cqi;
      font-size: 11cqi;
    }

    .message {
      padding: 0;
      background-color: transparent;
    }
  }

  @container callout-section (min-width: 85vw) {
    .callout {
      /* text-align: center; */
      /* padding: var(--grid-gutter); */
    }
  }
</style>
