---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jeff Caldwell | Technical Writing">
  <div class="hero u-grid">
    <h1 class="callout">
      I write about complex topics and make them easy for readers to understand.
    </h1>

    <div class="message-section u-grid">
      <p class="message">
        Years of experience in journalism and a background in computer science give me a unique ability to turn difficult technical topics into concise, simple documentation and guides that regular people can use.
      </p>

      <div class="button-group u-grid">
        <a href="/resume" class="button">My Resume</a>
        <a href="/portfolio" class="button">My Portfolio</a>
      </div>
    </div>
  </div> <!-- /hero-->
  <div class="feature">
    <h2 class="feature-title">
      Featured Work
    </h2>
    
    <div class="feature-content u-grid">
     <article class="feature-article top">
      <div class="feature-article-content">
      <h3>Intro to Genetic Algorithms</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius quam quisque id diam vel quam elementum pulvinar.
        </p>
      </div>
      <img src="/images/Darwin.webp" alt="Charles Darwin">
     </article> 
    </div>
  </div>
</Layout>

<style>
  .hero {
  }
  .message-section {
    grid-template-rows: 1fr auto;
  }
  .callout {
    font-size: var(--size-5);
    line-height: 1;
    /* line-height: 1.25; */
  }
  .message {
    /* font-size: 2cqw; */
    font-size: var(--size-3);
    line-height: 1.4;
    background-color: var(--accent);
    padding: var(--grid-gutter);
    /* background-color: var(--accent); */
    /* border-bottom: 0.3ex solid var(--accent); */
    /* background: var(--fg); */
    /* color: var(--bg); */
  }
  .button-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature {
    container-name: feature;
    container-type: inline-size;
    margin-top: var(--grid-gutter);
  }
  .feature-title {
    font-size: var(--size-4);
    text-align: center;
    line-height: 1;
  }
  .feature-content {
    margin-top: var(--grid-gutter);
    grid-template-columns: repeat(4, 1fr);
  }
  .feature-article {
    background-color: var(--accent);
  }

  .top {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gutter);
    font-size: var(--size-2);
  }

  .top h3 {
    font-size: var(--size-3);
    /* order: 2; */
  }

  .top img {
    order: 1;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .top .feature-article-content {
    order: 2;
  }

  @media (min-width: 920px) {
   .hero {
    grid-template-columns: repeat(2, 1fr);
   }

   .callout {
    background-color: var(--accent);
    padding: var(--grid-gutter);
   }

   .message {
    padding: 0;
    background-color: transparent;
   }
   
  }
</style>
