---
export interface Props {
  title: string;
  body: string;
  href: string;
  first: boolean;
  img: Record<string, string>;
}

const { href, title, body, first, img } = Astro.props;

const firstClass = first ? 'top' : '';
---

<li class={firstClass ? 'feature-article top' : 'feature-article'}>
  <div class="article-content">
    <h3 class={firstClass ? 'top-title' : 'article-title'}>{title}</h3>
    <p class="article-body">{body}</p>
  </div>
  <img src={img.src} alt={img.alt} class="article-image" />
</li>

<style>
  .feature-article {
    /* background-color: var(--accent); */
    container-type: inline-size;
    container-name: article-preview;
    display: grid;
    gap: var(--grid-gutter);
    font-size: var(--size-2);
    grid-column: span 4;
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0, 0.1);
    border: 1px solid var(--fg-alpha-10);
  }

  .top {
    grid-column: span 4;
    /* display: grid; */
    /* gap: 0; */
    /* font-size: var(--size-2); */
  }

  .article-content {
    container-type: inline-size;
    container-name: content;
    order: 2;
    padding: 3cqi;
    padding-block-start: 0;
    /* padding: var(--space-xs); */
  }

  .article-title,
  .top-title {
    /* font-size: var(--size-3); */
    font-size: 7cqi;
    line-height: 1;
    margin: 0;
    margin-bottom: 0.25em;
  }

  .article-body {
    font-size: 5cqi;
  }

  .article-image {
    order: 1;
    width: 100cqw;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
  }

  .article-content {
    order: 2;
    /* padding: 3cqi; */
    /* padding: var(--space-xs); */
  }

  @media (min-width: 920px) {
    .feature-article {
      grid-column: span 2;
    }

    .top {
      grid-template-columns: 1fr 1fr;
      /* gap: var(--grid-gutter); */
      grid-column: span 4;
    }
  }

  @container article-preview (min-width: 900px) {
    .article-image {
      /* max-width: 50cqw; */
      max-width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }
    .article-content {
      padding: 2cqi;
      padding-block-start: 0;
    }
    .top .article-content {
      padding-block-start: 2cqi;
      padding-inline-start: 0;
    }
  }

  @container content (min-width: 550px) {
    .article-title {
      font-size: 5cqw;
    }

    .article-body {
      font-size: 4cqi;
    }
  }
</style>
