---
import Icon from './Icon.astro';
---

<header role="banner">
  <div class="header-inner u-container">
    <a class="site-brand" id="site-brand" href="/">
      Jeff Caldwell
    </a>
  
    <nav role="navigation">
      <ul>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/resume">Resume</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/about">About Me</a>
        </li>
      </ul>
      <!-- <ul>
        <li>
          <a href="/portfolio">
            <Icon name="linkedin" /> LinkedIn
          </a>
        </li>
        <li>
          <a href="/resume">
            <Icon name="github" /> GitHub
          </a>
        </li>
        <li>
          <a href="/blog">
            <Icon name="mastodon" /> Mastodon
          </a>
        </li>
        <li>
          <a href="/about">
            <Icon name="rss" />RSS
          </a>
        </li>
      </ul> -->
    </nav>

  <img src="/images/head.webp" alt="My Head" class="header-img"/>
  </div> <!-- /header-inner -->
</header>

<style>
  .header-inner {
    container-name: header;
    container-type: inline-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--sans);
    font-weight: 700;
    flex-wrap: wrap;
    gap: var(--space-l);
    padding-block: var(--grid-gutter);
    /* padding-inline: 0; */
  }

  .header-img {
    order: 1;
  }

  nav {
    /* display: flex; */
    /* gap: var(--space-xl); */
    order: 3;
    width: 100%;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15cqi;
  }

  nav ul li {
    line-height: 1.5;
  }

  nav ul li a {
    /* font-size: var(--size-0); */
    font-size: 7cqi;
    font-weight: 600;
    display: flex;
    /* align-items: center; */
    /* gap: 0.25rem; */
  }

  .site-brand {
    font-size: 15cqi;
    /* font-size: var(--size-6); */
    text-decoration: none;
    line-height: 1;
    text-align: center;
    margin: 0;
    /* max-width: 7ch; */
    order: 2;
    /* display: flex; */
    outline-offset: 0.3ex;
  }
  
  @container header (width < 300px) {
    .site-brand {
      font-size: 15cqi;
    }
    nav ul li a {
      font-size: 9cqi;
    }
  }

  @container header (width > 427px) {
   .header-img {
    order: 2;
    width: 15cqi;
   }

   .site-brand {
    order: 1;
    text-align: left;
    font-size: 8cqw;
   }

   nav {
    order: 3;
    gap: var(--space-3xl);
   }

   nav ul {
    gap: 3cqi;
   }

   nav ul li a {
    font-size: 4cqi;
   }
  }

  @container header (width > 848px) {
    .header-img {
      order: 3;
      width: 10cqi;
    }

    nav {
      order: 2;
      width: unset;
    }

    nav ul li a {
      font-size: 2cqi;
    }

    .site-brand {
      order: 1;
      text-align: left;
      font-size: 6cqi;
      /* font-size: var(--size-6); */
    }
  }

  @media (min-width: 920px) {
    .header-inner {
      justify-content: space-between;
    }
  }

  @media (min-width: 472px) {
    .header-inner {
      border-bottom: 2px solid var(--fg);
    }
  }

  @media (max-width: 470px) {
    .header-inner {
      justify-content: center;
    }
  }

  
</style>
